@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: lightskyblue;
  color: green;
  text-align: center;
  margin-top: 100px;
}

#login-form-container {
  margin-bottom: 25px;
}
